:root {
  --bg: #012130;
  --text: #88949c;
  --button-text-1: #93b0df;
  --button-bg-1: #4684cb;
  --button-border-1: #374c59;
  --table-banding: #052a3e;
  --table-bg: #1d3644;
  --caption: #abb4bd;
}


/* Dark mode */
:root[color-mode="dark"] {
  --bg: #012130;
  --text: #88949c;
  --button-text-1: #93b0df;
  --button-bg-1: #4684cb;
  --button-border-1: #374c59;
  --table-banding: #455a6d;
  --table-bg: #1d3644;
  --caption: #abb4bd;
}

/* Dark mode */
:root[color-mode="light"] {
  --bg: #88949c; 
  --text: #012130;
  --button-text-1: #93b0df;
  --button-bg-1: #4684cb;
  --button-border-1: #374c59;
  --table-banding: #455a6d;
  --table-bg: #1d3644;
  --caption: #abb4bd;
}


body {
  padding-top: 10px;
  padding-bottom: 40px;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 14px;
  background-color: var(--bg);
  color: var(--text);
}

button {
  font-size: 17px;    
  padding: 8px 16px;
  margin: 0;
  border-radius: 12px;
  border: 2px solid var(--button-bg-1);
  background-color: var(--button-border-1);
  color: var(--button-bg-1);
  width: 150px;
  cursor: pointer;
}

a, a:hover, a:focus, a:visited {
  color: var(--button-text-1);
  text-decoration: none;
}

h1 {
  max-width: 100vw;
  padding: 10px 5px;
  margin: 0 auto;
  text-align: center;
}

h2 {
  max-width: 100%;
  padding: 8px;
  margin: 0 auto;
  text-align: center;
  font-size: 15px;
}

nav a {
  max-width: 330px;
  padding: 8px 12px;
  margin: 0 8px;
  text-align: center;
  color: var(--button-text-1);
  background-color: var(--button-bg-1);
  text-decoration: none;
  border-radius: 12px;
  border: 2px solid var(--button-border-1);
}

nav a:hover {
  border: 2px solid var(--button-bg-1);
  background-color: var(--button-border-1);
  color: var(--button-bg-1);
}

form {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  max-width: 400px;
}

.delete_input {
  width: 150px !important;
}

.delete_button a:visited a:active a:hover {
  color: var(--button-text-1);
}

.dropdown {
  overflow: hidden;
  margin: 0px auto 0 auto;
  width: 200px;
  padding-bottom: 10px;
}

.dropdown .dropbtn {
  font-size: 17px;    
  padding: 8px 16px;
  margin: 0;
  border-radius: 12px;
  border: 2px solid var(--button-bg-1);
  background-color: var(--button-border-1);
  color: var(--button-bg-1);
  width: 150px;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 200px;
  padding-top: 4px;
}

.dropdown-content a {
  padding: 8px 12px;
  text-decoration: none;
  display: block;
  text-align: center;
  margin: 6px auto;
  border-radius: 12px;
  width: 120px;
}

.dropdown:hover .dropbtn {
  background-color: var(--button-border-1);
  color: var(--button-bg-1);
}

.dropdown-content a:hover {
  background-color: var(--button-border-1);
  color: var(--button-bg-1);
}

.dropdown:hover .dropdown-content {
  display: block;
}

tr:nth-child(even) {
  background-color: var(--table-banding);
}

.table-double-row:nth-child(4n + 3) {
  background-color: var(--table-banding);
}

.table-double-row:nth-child(4n + 4) {
  background-color: var(--table-banding);
}

.table-double-row:nth-child(4n + 1) {
  background-color: transparent;
}

.table-double-row:nth-child(4n + 2) {
  background-color: transparent;
}


td a {
  max-width: 330px;
  padding: 2px;
  margin: 0 auto;
  text-align: center;
  font-size: 12px;
  color: var(--button-bg-1);
  text-decoration: none;
}

table {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  background-color: var(--table-bg);
  border-radius: 20px;
  padding: 8px 16px;
  border-spacing: 0;
}

th, td {
  height: 30px;
}

p {
  font-size: 16px;
}

caption {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  color: var(--caption);
  padding-bottom: 16px;
}

.numbered_stats {
  text-align: center;
}

.alert {
    padding: 20px;
    margin: 5px;
    color: #970020;
    background-color: #ffd5de;
}

.message {
    padding: 10px;
    margin: 5px;
    background-color: #f3f3f3;
}

.stats {
  max-width: 330px;
  margin: 0 auto;
}

.player_name {
  font-size: 16px;
  text-align: left;
}

.rank {
  font-size: 16px;
  text-align: center;
}

input, select {
  max-width: 260px;
  width: 100%;
  text-align: center;
  padding: 8px 12px;
  margin: 8px;
  display: inline-block;
  box-sizing: border-box;
  font-size: 16px;
  border-radius: 12px;
  
  border: 2px solid var(--button-bg-1);
  background-color: var(--table-bg);
  color: var(--button-bg-1);
  cursor: pointer;
}

input::placeholder {
  color: var(--caption);
  opacity: .8;
}

input:focus-visible {
  outline-color: var(--button-bg-1);
}

input[type=date] {
  min-height: 2.5rem;
}

input[type=submit] {
  max-width: 260px;
  width: 100%;
  text-align: center;
  padding: 8px 12px;
  margin: 8px;
  display: inline-block;
  box-sizing: border-box;
  font-size: 16px;
  border-radius: 12px;
    
  border: 2px solid var(--button-border-1);
  background-color: var(--button-bg-1);
  color: var(--button-text-1);
}

input[type=submit]:hover {
  border: 2px solid var(--button-bg-1);
  background-color: var(--button-border-1);
  color: var(--button-bg-1);
}

div {
  text-align: center;
  border-radius: 1px;
  padding: 1px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}






#menu__toggle {
  opacity: 0;
}
#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  right: 0 !important;
}
.menu__btn {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
  transition-duration: .25s;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}
.menu__box {
  display: block;
  position: fixed;
  top: 0;
  right: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #2a3136;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
  transition-duration: .25s;
  z-index: 100;
}
.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s;
}
.menu__item:hover {
  background-color: #CFD8DC;
}

