{% extends 'base_admin.html' %}

{% block content %}
    <h1>{% block title %} Add a game {% endblock %}</h1>
    <div class="container">
        <form method="post" action="{{ url_for('add_game') }}" id="add-game-form">
            <datalist id="players">
                {% for player in players %}
                    <option value="{{ player }}"></option>
                {% endfor %}
            </datalist>
            <datalist id="w_scores">
                {% for score in w_scores %}
                    <option value="{{ score }}"></option>
                {% endfor %}
            </datalist>
            <datalist id="l_scores">
                {% for score in l_scores %}
                    <option value="{{ score }}"></option>
                {% endfor %}
            </datalist>
            <input type="text" name="winner1" placeholder="Winner 1" value="{{ request.form['winner1'] }}" list="players" autocomplete="on">
            <input type="text" name="winner2" placeholder="Winner 2" value="{{ request.form['winner2'] }}" list="players" autocomplete="on">
            <input type="text" name="loser1" placeholder="Loser 1" value="{{ request.form['loser1'] }}" list="players" autocomplete="on">      
            <input type="text" name="loser2" placeholder="Loser 2" value="{{ request.form['loser2'] }}" list="players" autocomplete="on">
            <input type="number" pattern="[0-9]*" name="winner_score" placeholder="Winners' score" value="{{ request.form['winner_score'] }}" list="w_scores" autocomplete="on">
            <input type="number" pattern="[0-9]*" name="loser_score" placeholder="Losers' score" value="{{ request.form['loser_score'] }}" list="l_scores" autocomplete="on">    
            <input type="submit" value="Submit">
        </form>
    </div>

    <div>
        {% if todays_stats %}
            <table>
                <h1>Today's stats</h1>
                <thead>
                    <tr>
                        <th class="rank" scope="col" colspan="1">#</th>
                        <th class="player_name" scope="col" colspan="1">Player</th>
                        <th class="numbered_stats" scope="col" colspan="1">Wins</th>
                        <th class="numbered_stats" scope="col" colspan="1">Losses</th>
                        <th class="numbered_stats" scope="col" colspan="1">Win %</th>
                        <th class="numbered_stats" scope="col" colspan="1">+/-</th>
                    </tr>
                </thead>
                <tbody>
                    {% for player in todays_stats %}
                    <tr>
                        <td class="rank">{{ loop.index }}</td>
                        <td class="player_name"><a href="{{ url_for('player_stats', year=year, name=player[0] ) }}">{{ player[0] }}</a></td>
                        <td>{{ player[1] }}</td>
                        <td>{{ player[2] }}</td>
                        <td>{{ "{:.2f}".format(player[3]*100) }}</td>
                        {% if player[4] > 0 %}
                            <td>+{{ player[4] }}</td>
                        {% else %}
                            <td>{{ player[4] }}</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}

        <h1>{{ year }} stats</h1>
        <table>
            <thead>
                <tr>
                    <th class="rank" scope="col" colspan="1">#</th>
                    <th class="player_name" scope="col" colspan="1">Player</th>
                    <th class="numbered_stats" scope="col" colspan="1">Wins</th>
                    <th class="numbered_stats" scope="col" colspan="1">Losses</th>
                    <th class="numbered_stats" scope="col" colspan="1">Win %</th>
                    <th class="numbered_stats" scope="col" colspan="1">Games</th>
                </tr>
            </thead>
            <tbody>
                {% for player in stats %}
                <tr>
                    <td class="rank">{{ loop.index }}</td>
                    <td class="player_name"><a href="{{ url_for('player_stats', year=year, name=player[0] ) }}">{{ player[0] }}</a></td>
                    <td>{{ player[1] }}</td>
                    <td>{{ player[2] }}</td>
                    <td>{{ "{:.2f}".format(player[3]*100) }}</td>
                    <td>{{ player[1] + player[2] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
