<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Arbel's Stats | {% block title %} {% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon-admin.ico') }}">
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='apple-touch-icon-admin.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <meta name="viewport" content="width=device-width" />

    <script>
        document.addEventListener('click', function(event) {
            var nav = document.getElementById('main-nav');
            var targetElement = event.target; // Clicked element

            // Check if the clicked element is outside of the nav menu and not the menu toggle button
            if (!nav.contains(targetElement) && targetElement.id !== 'menu__toggle') {
                // Hide the nav menu
                var menuToggle = document.getElementById('menu__toggle');
                menuToggle.checked = false; // Uncheck the menu toggle checkbox
            }
        });
    </script>
</head>
<body>
    <nav id="main-nav">
        <h1><a href="{{ url_for('index') }}">Doubles</a> <a href="{{ url_for('vollis') }}">Vollis</a></h1>
        <div class="hamburger-menu-container">
            <input id="menu__toggle" type="checkbox" />
            <label class="menu__btn" for="menu__toggle">
                <span></span>
                <span></span>
                <span></span>
            </label>

            <ul class="menu__box">
                <li><a class="menu__item" href="{{ url_for('games') }}">Games</a></li>
                <li><a class="menu__item" href="{{ url_for('vollis_games') }}">Vollis games</a></li>
                <li><a class="menu__item" href="{{ url_for('top_teams') }}">Top teams</a></li>
            </ul>
        </div>
    </nav>
    <div class="alerts">
        {% for category, message in get_flashed_messages(with_categories=True) %}
            <div class="alert {% if category == 'success' %}alert-success{% else %}alert-danger{% endif %}">
                {{ message }}
            </div>
        {% endfor %}
    </div>
    <nav>
        <div class="dropdown">
            <button class="dropbtn">Add/Edit
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="{{ url_for('add_game') }}">Add game</a>
                <a href="{{ url_for('add_vollis_game') }}">Add vollis game</a>
                <a href="{{ url_for('edit_games') }}">Edit games</a>
                <a href="{{ url_for('edit_vollis_games') }}">Edit vollis games</a>
            </div>
        </div>  
    </nav>
    <div class="content">
        
        {% block content %} {% endblock %}
    </div>    
</body>
</html>
