{% extends 'base_admin.html' %}

{% block content %}
	<h1>{% block title %} Edit game {% endblock %}</h1>
	
	<table>
	   <thead>
			<tr>
				<th scope="col" colspan="1">Date/Updated</th>
				<th scope="col" colspan="1">Winners</th>
				<th scope="col" colspan="1">Losers</th>
			</tr>
		</thead>
	   	<tbody>
			<tr>
				<td>{{ (game[1])[0:10] }}<br>{{ (game[1])[11:19] }}</td>
				<td><a href="{{ url_for('player_stats', year=year, name=game[2] ) }}">{{ game[2] }}</a><br><a href="{{ url_for('player_stats', year=year, name=game[3] ) }}">{{ game[3] }}</a></td>
				<td><a href="{{ url_for('player_stats', year=year, name=game[0][5] ) }}">{{ game[5] }}</a><br><a href="{{ url_for('player_stats', year=year, name=game[6] ) }}">{{ game[6] }}</a></td>
			</tr>
			<tr>
				<td>{{ (game[8])[0:10] }}<br>{{ (game[8])[11:19] }}</td>
				<td>{{ game[4] }}</td>
				<td>{{ game[7] }}</td>
			</tr>
		</tbody>
	</table>
	<div>
		<h3>Update game details below</h3>
	   <form method="post">
			  <datalist id="players">
					 {% for player in players %}
							<option value= "{{ player }}">
					 {% endfor %}
			  </datalist>
			  <datalist id="w_scores">
					 {% for score in w_scores %}
							<option value= "{{ score }}">
					 {% endfor %}
			  </datalist>
			  <datalist id="l_scores">
					 {% for score in l_scores %}
							<option value= "{{ score }}">
					 {% endfor %}
			  </datalist>
			  
			  <!-- Player inputs -->
			  <input type="text" name="winner1" placeholder="Winner 1" value="{{ game[2] }}" list="players">
			  <input type="text" name="winner2" placeholder="Winner 2" value="{{ game[3] }}" list="players">
			  <input type="text" name="loser1" placeholder="Loser 1" value="{{ game[5] }}" list="players">
			  <input type="text" name="loser2" placeholder="Loser 2" value="{{ game[6] }}" list="players">
			  <input type="number" pattern="[0-9]*" name="winner_score" placeholder="Winners' score" value="{{ game[4] }}" list="w_scores">
			  <input type="number" pattern="[0-9]*" name="loser_score" placeholder="Losers' score" value="{{ game[7] }}" list="l_scores">
			  
			  <!-- Date/Time Played -->
			  <label for="date_played" class="optional-label">Date played</label>
			  <input type="date" name="date_played" id="date_played" value="{{ game[9] if game[9] else game[1][:10] }}">
			  
			  <label for="time_played" class="optional-label">Time played</label>
			  <input type="time" name="time_played" id="time_played" value="{{ game[10] if game[10] else game[1][11:16] }}">
			  
			  <input type="submit" value="Submit">
		   </form>
	   </div>
	   
{% endblock %}