{% extends 'base_admin.html' %}

{% block content %}
    <h1>{% block title %} Edit vollis game {% endblock %}</h1>
    <table>
       <thead>
            <tr>
                <th scope="col" colspan="1">Date/Updated</th>
                <th scope="col" colspan="1">Winner</th>
                <th scope="col" colspan="1">Loser</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ (game[1])[0:10] }}<br>{{ (game[1])[11:19] }}</td>
                <td><a href="{{ url_for('player_stats', year=year, name=game[2] ) }}">{{ game[2] }}</a></td>
                <td><a href="{{ url_for('player_stats', year=year, name=game[4] ) }}">{{ game[4] }}</a></td>
            </tr>
            <tr>
                <td>{{ (game[6])[0:10] }}<br>{{ (game[6])[11:19] }}</td>
                <td>{{ game[3] }}</td>
                <td>{{ game[5] }}</td>
            </tr>
        </tbody>
    </table>
    <div>
       <form method="post">
              <datalist id="players">
                    {% for player in players %}
                        <option value= "{{ player }}">
                    {% endfor %}
              </datalist>
              <input type="text" name="winner" placeholder="Winner" value="{{ request.form['winner'] if request.form['winner'] else game[2] }}" list="players">
              <input type="text" name="loser" placeholder="Loser" value="{{ request.form['loser'] if request.form['loser'] else game[4] }}" list="players">      
              <input type="number" pattern="[0-9]*" name="winner_score" placeholder="Winner's score" value="{{ request.form['winner_score'] if request.form['winner_score'] else game[3] }}" list="scores">
              <input type="number" pattern="[0-9]*" name="loser_score" placeholder="Loser's score" value="{{ request.form['loser_score'] if request.form['loser_score'] else game[5] }}" list="scores">
              
              <!-- Date/Time Played -->
              <label for="date_played" class="optional-label">Date played</label>
              <input type="date" name="date_played" id="date_played" value="{{ game[7] if game[7] else game[1][:10] }}">
              
              <label for="time_played" class="optional-label">Time played</label>
              <input type="time" name="time_played" id="time_played" value="{{ game[8] if game[8] else game[1][11:16] }}">
              
              <input type="submit" value="Submit">
       </form>
    </div>

{% endblock %}
