{% extends 'base.html' %}

{% block content %}
    <nav>
        <div class="dropdown">
            <button class="dropbtn">Select a year
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                {% for year in all_years %}
                    <a href="{{ url_for('games_by_year', year=year) }}">{{ year }}</a>
                {% endfor %}
            </div>
        </div>       
    </nav>
    <h1>{% block title %} {{ year }} games {% endblock %}</h1>
        <div>
        	<table>
        		<thead>
    				<tr>
                        <th class="rank" scope="col" colspan="1">#</th>
                        <th scope="col" colspan="1">Date</th>
                        <th scope="col" colspan="1">Winners</th>
                        <th scope="col" colspan="1"></th>
                        <th scope="col" colspan="1">Losers</th>
                        <th scope="col" colspan="1"></th>
                        <th scope="col" colspan="1"></th>
    				</tr>
  				</thead>
        		<tbody>
                {% for game in games %}
        			<tr>
            			<td class="rank">{{ loop.index }}</td>
                        <td>{{ (game[1])[0:10] }}<br>{{ (game[1])[11:19] }}</td>
            			<td><a href="{{ url_for('player_stats', year=year, name=game[2] ) }}">{{ game[2] }}</a><br><a href="{{ url_for('player_stats', year=year, name=game[3] ) }}">{{ game[3] }}</a></td>
            			<td>{{ game[4] }}</td>
                        <td><a href="{{ url_for('player_stats', year=year, name=game[5] ) }}">{{ game[5] }}</a><br><a href="{{ url_for('player_stats', year=year, name=game[6] ) }}">{{ game[6] }}</a></td>
                        <td>{{ game[7] }}</td>
            		</tr>
                {% endfor %}
            	</tbody>
            </table>
        </div>
{% endblock %}